// Place all the styles related to the hall controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//
.container {
  border: 1px solid #ccc;
  padding: 30px;
  min-height: 500px;
}

.input input {
  width: 500px;
}
